iot/nodered_dashboard_flow.json
[
    {
        "id": "sffs_tab_1",
        "type": "ui_tab",
        "name": "SFFS Control Room",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "grp_status",
        "type": "ui_group",
        "name": "System Status",
        "tab": "sffs_tab_1",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "grp_gas",
        "type": "ui_group",
        "name": "Gas Sensors",
        "tab": "sffs_tab_1",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "grp_env",
        "type": "ui_group",
        "name": "Environment",
        "tab": "sffs_tab_1",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "grp_occupy",
        "type": "ui_group",
        "name": "Occupancy",
        "tab": "sffs_tab_1",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "grp_actuator",
        "type": "ui_group",
        "name": "Actuator Status",
        "tab": "sffs_tab_1",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "grp_health",
        "type": "ui_group",
        "name": "ESP32 Health",
        "tab": "sffs_tab_1",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "grp_log",
        "type": "ui_group",
        "name": "Event Log",
        "tab": "sffs_tab_1",
        "order": 7,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "grp_water",
        "type": "ui_group",
        "name": "Water Tank",
        "tab": "sffs_tab_1",
        "order": 8,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "grp_manual",
        "type": "ui_group",
        "name": "Manual Alarms",
        "tab": "sffs_tab_1",
        "order": 9,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "SFFS Mosquitto",
        "broker": "localhost",
        "port": "1883",
        "clientid": "nodered_sffs",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "closeTopic": "",
        "willTopic": "",
        "willPayload": "",
        "sessionExpiry": ""
    },
    {
        "id": "mqtt_sensors",
        "type": "mqtt in",
        "name": "Sensor Data",
        "topic": "sffs/sensors/data",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 80,
        "wires": [["parse_gas", "parse_env", "parse_motion", "parse_meta", "parse_water"]]
    },
    {
        "id": "mqtt_status",
        "type": "mqtt in",
        "name": "System Status",
        "topic": "sffs/system/status",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 240,
        "wires": [["parse_status", "log_event"]]
    },
    {
        "id": "mqtt_people",
        "type": "mqtt in",
        "name": "People Count",
        "topic": "sffs/ai/people_count",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 360,
        "wires": [["parse_people"]]
    },
    {
        "id": "mqtt_heartbeat",
        "type": "mqtt in",
        "name": "Heartbeat",
        "topic": "sffs/system/heartbeat",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 440,
        "wires": [["parse_heartbeat"]]
    },
    {
        "id": "mqtt_detection",
        "type": "mqtt in",
        "name": "AI Detection",
        "topic": "sffs/ai/detection",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 520,
        "wires": [["parse_detection", "log_detection"]]
    },
    {
        "id": "mqtt_manual",
        "type": "mqtt in",
        "name": "Manual Alarm",
        "topic": "sffs/manual/alarm",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 600,
        "wires": [["parse_manual", "log_manual"]]
    },
    {
        "id": "parse_gas",
        "type": "function",
        "name": "Extract Gas",
        "func": "var gas = msg.payload.gas || {};\nvar m1 = {payload: gas.mq2 || 0};\nvar m2 = {payload: gas.mq5 || 0};\nvar m3 = {payload: gas.mq6 || 0};\nvar m4 = {payload: gas.mq7 || 0};\nreturn [m1, m2, m3, m4];",
        "outputs": 4,
        "x": 330,
        "y": 60,
        "wires": [["gauge_mq2"], ["gauge_mq5"], ["gauge_mq6"], ["gauge_mq7"]]
    },
    {
        "id": "parse_env",
        "type": "function",
        "name": "Extract Env",
        "func": "var env = msg.payload.env || {};\nvar temp = {payload: parseFloat(env.temp) || 0};\nvar hum = {payload: parseFloat(env.hum) || 0};\nreturn [temp, hum];",
        "outputs": 2,
        "x": 330,
        "y": 120,
        "wires": [["gauge_temp", "chart_temp"], ["gauge_hum"]]
    },
    {
        "id": "parse_motion",
        "type": "function",
        "name": "Extract Motion",
        "func": "var m = msg.payload.motion || {};\nvar tilt = {payload: m.tilt ? '⚠️ TILT DETECTED' : '✅ Level'};\nreturn [tilt];",
        "outputs": 1,
        "x": 330,
        "y": 160,
        "wires": [["text_tilt"]]
    },
    {
        "id": "parse_meta",
        "type": "function",
        "name": "Extract Meta",
        "func": "var meta = msg.payload.meta || {};\nvar rssi = {payload: meta.wifi_rssi || -100};\nvar uptime = {payload: (meta.uptime_s || 0) + 's'};\nvar heap = {payload: ((meta.heap_free || 0) / 1024).toFixed(1) + ' KB'};\nvar mode = {payload: meta.mode || 'UNKNOWN'};\nvar flame = {payload: meta.flame ? '🔥 DETECTED' : '✅ Clear'};\nreturn [rssi, uptime, heap, mode, flame];",
        "outputs": 5,
        "x": 330,
        "y": 200,
        "wires": [["gauge_rssi"], ["text_uptime"], ["text_heap"], ["text_mode"], ["text_flame"]]
    },
    {
        "id": "parse_status",
        "type": "function",
        "name": "Extract Status",
        "func": "var p = msg.payload;\nvar state = {payload: p.state || 'UNKNOWN'};\nvar conf = {payload: ((p.confidence || 0) * 100).toFixed(0) + '%'};\nvar src = {payload: p.source || 'N/A'};\nvar valve = {payload: (p.actions && p.actions.gas_valve) || 'N/A'};\nvar doors = {payload: (p.actions && p.actions.doors) || 'N/A'};\nvar buzzer = {payload: (p.actions && p.actions.buzzer) || 'N/A'};\nvar pump1 = {payload: (p.actions && p.actions.pump1) || 'N/A'};\nvar pump2 = {payload: (p.actions && p.actions.pump2) || 'N/A'};\n\nvar colors = {'SAFE':'#4caf50','GAS_LEAK':'#ff9800','SMOKE':'#9e9e9e','FIRE':'#f44336'};\nstate.ui_control = {color: colors[p.state] || '#ffffff'};\n\nreturn [state, conf, src, valve, doors, buzzer, pump1, pump2];",
        "outputs": 8,
        "x": 330,
        "y": 260,
        "wires": [["text_state"], ["text_conf"], ["text_src"], ["text_valve"], ["text_doors"], ["text_buzzer"], ["text_pump1"], ["text_pump2"]]
    },
    {
        "id": "parse_people",
        "type": "function",
        "name": "Extract Count",
        "func": "msg.payload = msg.payload.inside_count || 0;\nreturn msg;",
        "outputs": 1,
        "x": 330,
        "y": 360,
        "wires": [["text_people"]]
    },
    {
        "id": "parse_heartbeat",
        "type": "function",
        "name": "Heartbeat Fmt",
        "func": "msg.payload = '✅ Alive (' + new Date().toLocaleTimeString() + ')';\nreturn msg;",
        "outputs": 1,
        "x": 330,
        "y": 440,
        "wires": [["text_hb"]]
    },
    {
        "id": "parse_detection",
        "type": "function",
        "name": "Parse AI Detection",
        "func": "var p = msg.payload;\nvar type = p.type || 'Clear';\nvar conf = ((p.confidence || 0) * 100).toFixed(0) + '%';\nvar text, color;\nif (type === 'Fire') {\n    text = '🔥 FIRE DETECTED';\n    color = '#f44336';\n} else if (type === 'Smoke') {\n    text = '💨 SMOKE DETECTED';\n    color = '#9e9e9e';\n} else {\n    text = '✅ Clear';\n    color = '#4caf50';\n}\nvar status = {payload: '<font style=\"font-size:20px;font-weight:bold;color:' + color + ';\">' + text + ' (' + conf + ')</font>'};\nvar toast = null;\nif (type === 'Fire' || type === 'Smoke') {\n    toast = {payload: '⚠️ AI Camera: ' + type + ' detected! (' + conf + ')'};\n}\nreturn [status, toast];",
        "outputs": 2,
        "x": 330,
        "y": 520,
        "wires": [["text_ai_detection"], ["toast_detection"]]
    },
    {
        "id": "parse_manual",
        "type": "function",
        "name": "Parse Manual Alarm",
        "func": "var p = msg.payload;\nvar room = p.room || 'Unknown';\nvar active = p.active;\nvar text, color;\nif (active) {\n    text = '🚨 ' + room + ' — ALARM ACTIVE';\n    color = '#f44336';\n} else {\n    text = '✅ ' + room + ' — Cleared';\n    color = '#4caf50';\n}\nmsg.payload = '<font style=\"font-size:16px;font-weight:bold;color:' + color + ';\">' + text + '</font>';\nreturn msg;",
        "outputs": 1,
        "x": 330,
        "y": 600,
        "wires": [["text_manual_status"]]
    },
    {
        "id": "log_detection",
        "type": "function",
        "name": "Log AI Detection",
        "func": "var p = msg.payload;\nvar ts = new Date().toLocaleTimeString();\nmsg.payload = '[' + ts + '] AI Detection: ' + (p.type || 'Clear') + ' | Confidence: ' + ((p.confidence||0)*100).toFixed(0) + '%';\nreturn msg;",
        "outputs": 1,
        "x": 330,
        "y": 560,
        "wires": [["ui_log"]]
    },
    {
        "id": "log_manual",
        "type": "function",
        "name": "Log Manual Alarm",
        "func": "var p = msg.payload;\nvar ts = new Date().toLocaleTimeString();\nmsg.payload = '[' + ts + '] Manual Alarm: ' + (p.room || '?') + ' | Active: ' + (p.active ? 'YES' : 'NO');\nreturn msg;",
        "outputs": 1,
        "x": 330,
        "y": 640,
        "wires": [["ui_log"]]
    },
    {
        "id": "parse_water",
        "type": "function",
        "name": "Extract Water",
        "func": "var water = msg.payload.water || {};\nvar level = {payload: parseFloat(water.level_pct) || 0};\nreturn [level];",
        "outputs": 1,
        "x": 330,
        "y": 100,
        "wires": [["gauge_water"]]
    },
    {
        "id": "log_event",
        "type": "function",
        "name": "Format Log",
        "func": "var p = msg.payload;\nvar ts = new Date().toLocaleTimeString();\nvar line = '[' + ts + '] State: ' + (p.state||'?') + ' | Confidence: ' + ((p.confidence||0)*100).toFixed(0) + '% | Source: ' + (p.source||'?');\nif (p.actions) {\n  line += ' | Valve:' + p.actions.gas_valve + ' Doors:' + p.actions.doors + ' Buzzer:' + p.actions.buzzer;\n  line += ' | Pump1:' + (p.actions.pump1||'?') + ' Pump2:' + (p.actions.pump2||'?');\n}\nmsg.payload = line;\nreturn msg;",
        "outputs": 1,
        "x": 330,
        "y": 300,
        "wires": [["ui_log"]]
    },
    {
        "id": "gauge_mq2",
        "type": "ui_gauge",
        "name": "MQ-2",
        "group": "grp_gas",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "MQ-2 (Smoke)",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "4095",
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "1000",
        "seg2": "2000",
        "diff": false,
        "className": "",
        "x": 570,
        "y": 20,
        "wires": []
    },
    {
        "id": "gauge_mq5",
        "type": "ui_gauge",
        "name": "MQ-5",
        "group": "grp_gas",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "MQ-5 (LPG)",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "4095",
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "1000",
        "seg2": "2000",
        "diff": false,
        "className": "",
        "x": 570,
        "y": 60,
        "wires": []
    },
    {
        "id": "gauge_mq6",
        "type": "ui_gauge",
        "name": "MQ-6",
        "group": "grp_gas",
        "order": 3,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "MQ-6 (Butane)",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "4095",
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "1000",
        "seg2": "2000",
        "diff": false,
        "className": "",
        "x": 570,
        "y": 100,
        "wires": []
    },
    {
        "id": "gauge_mq7",
        "type": "ui_gauge",
        "name": "MQ-7",
        "group": "grp_gas",
        "order": 4,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "MQ-7 (CO)",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "4095",
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "1000",
        "seg2": "2000",
        "diff": false,
        "className": "",
        "x": 570,
        "y": 140,
        "wires": []
    },
    {
        "id": "gauge_temp",
        "type": "ui_gauge",
        "name": "Temperature",
        "group": "grp_env",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Temperature (°C)",
        "label": "°C",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": "100",
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "35",
        "seg2": "50",
        "diff": false,
        "className": "",
        "x": 580,
        "y": 180,
        "wires": []
    },
    {
        "id": "gauge_hum",
        "type": "ui_gauge",
        "name": "Humidity",
        "group": "grp_env",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Humidity (%)",
        "label": "%",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": "100",
        "colors": ["#3399ff", "#00b500", "#ca3838"],
        "seg1": "30",
        "seg2": "80",
        "diff": false,
        "className": "",
        "x": 580,
        "y": 220,
        "wires": []
    },
    {
        "id": "chart_temp",
        "type": "ui_chart",
        "name": "Temp History",
        "group": "grp_env",
        "order": 3,
        "width": "6",
        "height": "4",
        "label": "Temperature (°C) — Last 5 min",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for data...",
        "dot": false,
        "ymin": "0",
        "ymax": "80",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#ff6384", "#36a2eb", "#ff6384"],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 590,
        "y": 260,
        "wires": [[]]
    },
    {
        "id": "text_state",
        "type": "ui_text",
        "name": "State",
        "group": "grp_status",
        "order": 1,
        "width": "6",
        "height": "2",
        "label": "System State",
        "format": "<font style='font-size:28px;font-weight:bold;'>{{msg.payload}}</font>",
        "layout": "row-center",
        "className": "",
        "style": false,
        "x": 560,
        "y": 300,
        "wires": []
    },
    {
        "id": "text_conf",
        "type": "ui_text",
        "name": "Confidence",
        "group": "grp_status",
        "order": 2,
        "width": "3",
        "height": "1",
        "label": "Confidence",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 580,
        "y": 340,
        "wires": []
    },
    {
        "id": "text_src",
        "type": "ui_text",
        "name": "Source",
        "group": "grp_status",
        "order": 3,
        "width": "3",
        "height": "1",
        "label": "Decision Source",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 570,
        "y": 380,
        "wires": []
    },
    {
        "id": "text_people",
        "type": "ui_text",
        "name": "People Inside",
        "group": "grp_occupy",
        "order": 1,
        "width": "6",
        "height": "2",
        "label": "People Inside",
        "format": "<font style='font-size:48px;font-weight:bold;color:#ff9800;'>{{msg.payload}}</font>",
        "layout": "row-center",
        "className": "",
        "x": 590,
        "y": 420,
        "wires": []
    },
    {
        "id": "text_valve",
        "type": "ui_text",
        "name": "Gas Valve",
        "group": "grp_actuator",
        "order": 1,
        "width": "2",
        "height": "1",
        "label": "Gas Valve",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 580,
        "y": 460,
        "wires": []
    },
    {
        "id": "text_doors",
        "type": "ui_text",
        "name": "Doors",
        "group": "grp_actuator",
        "order": 2,
        "width": "2",
        "height": "1",
        "label": "Doors",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 570,
        "y": 500,
        "wires": []
    },
    {
        "id": "text_buzzer",
        "type": "ui_text",
        "name": "Buzzer",
        "group": "grp_actuator",
        "order": 3,
        "width": "2",
        "height": "1",
        "label": "Buzzer",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 570,
        "y": 540,
        "wires": []
    },
    {
        "id": "text_pump1",
        "type": "ui_text",
        "name": "Pump 1",
        "group": "grp_actuator",
        "order": 4,
        "width": "3",
        "height": "1",
        "label": "Pump 1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 580,
        "y": 560,
        "wires": []
    },
    {
        "id": "text_pump2",
        "type": "ui_text",
        "name": "Pump 2",
        "group": "grp_actuator",
        "order": 5,
        "width": "3",
        "height": "1",
        "label": "Pump 2",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 580,
        "y": 580,
        "wires": []
    },
    {
        "id": "text_flame",
        "type": "ui_text",
        "name": "Flame Sensor",
        "group": "grp_status",
        "order": 4,
        "width": "6",
        "height": "1",
        "label": "Flame Sensor",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 580,
        "y": 600,
        "wires": []
    },
    {
        "id": "text_tilt",
        "type": "ui_text",
        "name": "Tilt Status",
        "group": "grp_status",
        "order": 5,
        "width": "6",
        "height": "1",
        "label": "Tilt / Motion",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 580,
        "y": 620,
        "wires": []
    },
    {
        "id": "text_ai_detection",
        "type": "ui_text",
        "name": "AI Camera",
        "group": "grp_status",
        "order": 6,
        "width": "6",
        "height": "1",
        "label": "AI Camera",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 580,
        "y": 640,
        "wires": []
    },
    {
        "id": "toast_detection",
        "type": "ui_toast",
        "name": "Detection Toast",
        "position": "top right",
        "displayTime": "5000",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "x": 600,
        "y": 660,
        "wires": []
    },
    {
        "id": "gauge_rssi",
        "type": "ui_gauge",
        "name": "WiFi RSSI",
        "group": "grp_health",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "WiFi Signal (dBm)",
        "label": "dBm",
        "format": "{{value}}",
        "min": "-100",
        "max": "0",
        "colors": ["#ca3838", "#e6e600", "#00b500"],
        "seg1": "-70",
        "seg2": "-40",
        "diff": false,
        "className": "",
        "x": 580,
        "y": 700,
        "wires": []
    },
    {
        "id": "text_uptime",
        "type": "ui_text",
        "name": "Uptime",
        "group": "grp_health",
        "order": 2,
        "width": "3",
        "height": "1",
        "label": "Uptime",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 570,
        "y": 740,
        "wires": []
    },
    {
        "id": "text_heap",
        "type": "ui_text",
        "name": "Free Heap",
        "group": "grp_health",
        "order": 3,
        "width": "3",
        "height": "1",
        "label": "Free Heap",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 570,
        "y": 780,
        "wires": []
    },
    {
        "id": "text_mode",
        "type": "ui_text",
        "name": "Operating Mode",
        "group": "grp_health",
        "order": 4,
        "width": "3",
        "height": "1",
        "label": "Mode",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 590,
        "y": 820,
        "wires": []
    },
    {
        "id": "text_hb",
        "type": "ui_text",
        "name": "Heartbeat",
        "group": "grp_health",
        "order": 5,
        "width": "6",
        "height": "1",
        "label": "Heartbeat",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 570,
        "y": 860,
        "wires": []
    },
    {
        "id": "gauge_water",
        "type": "ui_gauge",
        "name": "Water Level",
        "group": "grp_water",
        "order": 1,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "Water Tank Level",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": ["#ca3838", "#e6e600", "#00b500"],
        "seg1": "15",
        "seg2": "50",
        "diff": false,
        "className": "",
        "x": 580,
        "y": 900,
        "wires": []
    },
    {
        "id": "text_manual_status",
        "type": "ui_text",
        "name": "Manual Alarm Status",
        "group": "grp_manual",
        "order": 1,
        "width": "6",
        "height": "2",
        "label": "Manual Alarm Status",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 600,
        "y": 940,
        "wires": []
    },
    {
        "id": "ui_log",
        "type": "ui_template",
        "name": "Event Log",
        "group": "grp_log",
        "order": 1,
        "width": "12",
        "height": "6",
        "format": "<div id=\"sffs-log\" style=\"height:200px;overflow-y:auto;font-family:monospace;font-size:12px;background:#1a1a2e;color:#e0e0e0;padding:8px;border-radius:4px;\"></div>\n<script>\n(function(scope) {\n    scope.$watch('msg', function(msg) {\n        if (msg && msg.payload) {\n            var el = document.getElementById('sffs-log');\n            if (el) {\n                var line = document.createElement('div');\n                line.textContent = msg.payload;\n                // Color based on content\n                if (msg.payload.indexOf('FIRE') !== -1) line.style.color = '#ff4444';\n                else if (msg.payload.indexOf('GAS_LEAK') !== -1) line.style.color = '#ff9800';\n                else if (msg.payload.indexOf('SMOKE') !== -1) line.style.color = '#9e9e9e';\n                else if (msg.payload.indexOf('SAFE') !== -1) line.style.color = '#4caf50';\n                el.appendChild(line);\n                el.scrollTop = el.scrollHeight;\n                // Keep max 100 entries\n                while (el.childNodes.length > 100) el.removeChild(el.firstChild);\n            }\n        }\n    });\n})(scope);\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 570,
        "y": 980,
        "wires": [[]]
    }
]
